<p>
  news-reader works!
</p>

<app-input-search-bar (searchTopic)="onUserSearchInput($event, this.searchInputSubject$)"> </app-input-search-bar>

<app-search-results [searchResults]="news$ | async"></app-search-results>

<!-- - TODO: Add bindings -->
<app-button *ngIf="this.activatedRoute.paramMap" [pageTrack]="(this.setupNavComponentOptions(this.activatedRoute.paramMap) | async)"></app-button>
Page
<app-button [pageTrack]="(this.activatedRoute.paramMap  | async).get('pageNumber') "></app-button>