<app-input-search-bar (searchTopic)="onUserSearchInput($event, this.searchInputSubject$)"> </app-input-search-bar>

<app-search-results [searchResults]="news$ | async"></app-search-results>

<!-- - TODO: Add bindings -->
<!-- Trying funky Angular template technique for fun -->
<!-- ngIf logic and extended pageTrack logic should be encapsulated more in `.ts` -->
<app-button *ngIf="this.activatedRoute.paramMap" [pageTrack]="(this.setupNavComponentOptions(this.activatedRoute.paramMap, 'Previous') | async)"></app-button>
<!-- Page {{(this.activatedRoute.paramMap | async).get["pageNumber"]}} -->
Page {{this.currentPageNumber}}
<app-button *ngIf="this.activatedRoute.paramMap" [pageTrack]="(this.setupNavComponentOptions(this.activatedRoute.paramMap, 'Next') | async)"></app-button>